{{ if and .Site.DisqusShortname (index .Params "comments" | default "true") (not .Site.IsServer) }}
<section class="comments">
	{{ template "_internal/disqus.html" . }}
</section>
{{ end }}

<form method="POST" action="https://api.staticman.net/v2/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input name="fields[name]" type="text" placeholder="Your name" required>
    <input name="fields[email]" type="email" placeholder="آدرس ایمیل شما؛ این آدرس محرمانه خواهد بود">
    <textarea name="fields[body]" placeholder="نظر شما(markdown) پشتیبانی می‌شود." rows="10"></textarea>
    <input type="submit" value="Submit">
  </form>
