{{ if and .Site.DisqusShortname (index .Params "comments" | default "true") (not .Site.IsServer) }}
<section class="comments">
	{{ template "_internal/disqus.html" . }}
</section>
{{ end }}
<p>دیدگاه خود را بیان کنید</p>
<form method="POST" action="https://staticman3.herokuapp.com/v3/entry/gitlab/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input name="fields[name]" type="text" placeholder="نام شما" required>
    <textarea name="fields[body]" placeholder="نظر شما؛ (markdown) پشتیبانی می‌شود" rows="10"></textarea>
    <input type="submit" value="ارسال نظر">
  </form>
