{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasComments" 0 }}
{{ $entryId := .File.UniqueID }}

{{ range $comments }}
  {{ if eq .Name $entryId }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
<blockquote>
    <img class="gravatar" src="https://ui-avatars.com/api/?length=1&name={{ .name }}">
    <div class="comment">
        <div class="comment_author">
            <strong>{{ .name }}</strong> {{ partial "svg/time.svg" (dict "class" "meta__icon") -}} <time class="comment_time" > {{ dateFormat "2006-02-01" .date }}</time>
        </div>
        <div class="comment_body"><p>{{ .body | markdownify }}</p></div>
    </div>
</blockquote>
    {{ end }}       
  {{ end }}
{{ end }}

{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>اولین نفری باشید که نظر می‌دهید.</p>
{{ end }}